.load-page
{
    color: #ffffff;
    width: 100%;
    height: 100vh;
    background: #000532;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.load-page p
{
    margin-top: 8px;
    font-size: 25px;
    font-weight: 400;
}
