/*------------------------------------FONDO DE BUSBUJAS*/

.bubble
{
    /*background-color: #c2dce332;*/
    position: absolute;
    pointer-events: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

/*
.bubble:nth-child(1)
{
    width: 120px;
    height: 120px;
    bottom: 0;
    left: 5%;
    animation: bubble 7s linear infinite;
}
*/

.bubble:nth-child(1)
{
    width: 120px;
    height: 120px;
    bottom: 5%;
    left: 10%;
    animation: bubble 5s linear infinite;
}

.bubble:nth-child(2)
{
    width: 120px;
    height: 120px;
    bottom: 5%;
    left: 16%;
    animation: bubble2 10s linear infinite;
}

.bubble:nth-child(3)
{
    width: 120px;
    height: 120px;
    bottom: 5%;
    left: 22%;
    animation: bubble2 7s linear infinite;
}

.bubble:nth-child(4)
{
    width: 120px;
    height: 120px;
    bottom: 5%;
    left: 50%;
    animation: bubble 5s linear infinite;
    animation-delay: 1s;
}

.bubble:nth-child(5)
{
    width: 120px;
    height: 120px;
    bottom: 5%;
    left: 40%;
    animation: bubble2 9s linear infinite;
}

.bubble:nth-child(6)
{
    width: 120px;
    height: 120px;
    bottom: 5%;
    left: 35%;
    animation: bubble 12s linear infinite;
}



@keyframes bubble {
    0%
    {
        bottom: -10%;
        opacity: 0;
        transform: scale(8%);
    }
    50%
    {
        opacity: .6;
        transform: scale(50%);
        transform: translateX(50px);
    }
    100%
    {
        bottom: 90vh;
        opacity: .1;
        transform: scale(100%);
        transform: translateX(-30px);
    }
}

@keyframes bubble2 {
    0%
    {
        bottom: -10%;
        opacity: 0;
        transform: scale(8%);
    }
    50%
    {
        opacity: .6;
        transform: scale(50%);
        transform: translateX(-30px);
    }
    100%
    {
        bottom: 90vh;
        opacity: .1;
        transform: scale(100%);
        transform: translateX(50px);
    }
}