.scroll-progress-container
{
    position: fixed;
    left: 0;
    top: 60px;
    min-height: 10px;
    z-index: 999999;
    background-color: white;
    border-radius: 10px;
}

.scroll-barr-gradient
{
    background: linear-gradient(0.25turn, #03a9f4,#000532);
    width: 100%;
    height: 10px;
    border-radius: 12px;
}